<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style media="screen">

    </style>
  </head>
  <body>

  <div id="root">

    <h1>Complete tasks</h1>

  <ul>
    <li v-for="task in tasks" v-text="task.description"></li>
  </ul>

  <h2>Incomplete tasks</h2>

  <ul>
    <li v-for="task in tasks" v-text="task.description"></li>
  </ul>

  </div>

    <script src="https://unpkg.com/vue@2.5.16/dist/vue.jss"></script>

    <script>

      var app = new Vue({

        el: '#root',

        data:  {

          tasks: [
            { description: 'go to amd', completed: true},

            { description: 'go to store', completed: false},

            { description: 'go to i7', completed: true},

            { description: 'go to nvidia', completed: false},

            { description: 'go to i5', completed: true},

            { description: 'go to intel', completed: false}
          ],

        },

        computed: {

          inCompletedTasks() {

            return this.tasks.filter(task => ! task.completed);

          }

      }

      });
    </script>

  </body>
</html>
